@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section1,.section2,.section3,.section4{
  padding:40px 160px;
  
}
.section1{
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  background-image: url("./images/desktop/image-hero.jpg");
  background-size: cover;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul{
  display: flex;
  gap: 20px;
  color: white;
  font-weight: 700;
}
li{
  list-style: none;
}
.hero{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  
}

.hero-texto{
padding: 10px 20px;
  border: solid 1px white ;
  width: 390px;
  font-size: 50px;
  line-height: 1em;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.section2{
  position: relative;
  display: flex;
  flex-direction: row;
}
.section2 img{
  height: 400px;
}

.txt-right{
display: flex;
flex-direction: column;
width: 600px;
padding: 40px 60px;
justify-content: end;
position: absolute;
background-color: white;
gap: 20px;
right: 130px;
bottom: 0px;

}
.txt-right h1{
font-size: 50px;
font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.txt-right p {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(0, 0%, 55%);

}
/*sessao 3*/



.section3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
.section3 h1{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.header3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 10px;
}

button{
  width: 100px;
  padding: 5px;
  font-weight: 700;
  border: solid thin black;
  background-color: white;
  
  
}

/*sessao 4*/
.section4{
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.top4{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.bottom4{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#listafooter li{
padding-right: 10px;
}
.icones img{
  
  padding-left: 10px;
}

#textofooter{

  color: hsl(0, 0%, 55%);
  font-size: 15px;
}

/* hover*/
 .icones>img:hover{
  cursor: pointer;
 height: 30px;
}
ul>li:hover{
  cursor: pointer;
font-size: 20px;
}


button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px;
}


